.hidden {
    display: none;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10pt;
}

h2 {
    color: rgb(255, 255, 255);
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

#column-con {
    display: flex;
    flex-direction: column;
}

#box1 {
    background-color: #fab6b6;
    height: 200px;
    width: 100%;
}

#box2 {
    background-color: #e75151;
    height: 200px;
    width: 100%;
}

@media screen and (min-width: 640px) {
    #column-con {
        display: flex;
        flex-direction: row;
    }


#box1 {
    height: 200px;
    width: 25%;
    background-color: #6ea9f5;
}

#box2 {
    height: 200px;
    width: 25%;
    background-color: #c782ce;
}

#box3 {
    height: 200px;
    width: 25%;
    background-color: #a6a8a8;
    display: block;
}

#box4 {
    height: 200px;
    width: 25%;
    background-color: #9e6d63;
    display: block;
}
}